ion-content{
    ion-text{
        font-size:14px;
    }
    .logo_section{
        margin-bottom: 46px;
        margin-top: 25px;
        h3{
            font-weight: 600;
            font-size: 24px;
            color: #3e3e3e;
        }
        h4{
            color: #696b6c;
            font-size:15px;
        }
    }
    .forgot{
        margin-bottom: 25px;
        margin-top: 19px;
    }
   
}