<!-- <ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content color="tertiary">

      <!-- lOGO sECTION -->
      <div class="logo_section ion-text-center">
        <h3>Reset Your Password</h3>
        <h4>Please enter your email address to request a password reset.</h4>
  
      </div>
  
  
  
      <form [formGroup]="forgotForm" (ngSubmit)="submitForm()" class="radius-form" novalidate>
        
        <ion-item lines="none">
          <!-- <ion-label position="floating">Email</ion-label> -->
          <ion-input placeholder="Email" formControlName="passwordResetEmail" type="email"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.passwordResetEmail.errors?.required">
          Email is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.passwordResetEmail.errors?.pattern">
          Enter valid email address.
        </span>
  
        <div>
          <ion-button type="submit" color="secondary" expand="block">Submit</ion-button>
        </div>
        <!-- Signup link -->
        <div class="not-user ion-text-center">
          <ion-text >Go back to ?  </ion-text>
          <ion-text  routerLink="/sign-in" style="color:#0882de;">Sign in</ion-text>
        </div>
      
      </form>



  <!-- <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Reset Password</h3>
        <p class="text-center">Please enter your email address to request a password reset.</p>
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div>
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Go back to ? <span class="redirect" routerLink="/sign-in">Submit</span></span>
      </div>
    </div>
  </div> -->

</ion-content>
