<ion-header>
  <ion-toolbar color="primary">
    <ion-title>sign-in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
      
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="userName" type="email"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.userName.errors?.required">
        Email is required.
      </span>
      

      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="userPassword" type="text"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.userPassword.errors?.required">
        password is required.
      </span>

     
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>








  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign In</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #userName required>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
        </div>
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Don't have an account?<span class="redirect" routerLink="/sign-up"> Sign Up</span></span>
      </div>
    </div>
  </div>
</ion-content>
