<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>sign-in</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content> -->

  <ion-content color="tertiary">

    <!-- lOGO sECTION -->
    <div class="logo_section ion-text-center">
      <h3>Hello Again!</h3>
      <h4>Welcome back you've been missed!</h4>

    </div>



    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="radius-form" novalidate>
      
      <ion-item lines="none">
        <!-- <ion-label position="floating">Email</ion-label> -->
        <ion-input placeholder="Email" formControlName="userName" type="email"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.userName.errors?.required">
        Email is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.userName.errors?.pattern">
        Enter valid email address.
      </span>

      <ion-item lines="none">
        <!-- <ion-label position="floating">Password</ion-label> -->
        <ion-input placeholder="Password" formControlName="userPassword" type="text"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.userPassword.errors?.required">
        password is required.
      </span>

      <!-- Forgot password Link -->
      <div class="ion-text-right forgot">
        <ion-text  routerLink="/forgot-password">Forgot Password</ion-text>
      </div>
     
      <div>
        <ion-button type="submit" color="secondary" expand="block">Submit</ion-button>
      </div>

      <!-- Social Logins -->
      <div class="ion-text-center social">
        <ion-text >or Continue With</ion-text>
        <ion-row>
          <!-- <ion-col> -->
            <div class="img" (click)="authService.GoogleAuth()">
              <ion-icon src="../assets/icon/google.svg"></ion-icon>
            </div>
          <!-- </ion-col>
          <ion-col> -->
            <div class="img" (click)="authService.FacebookAuth()">
              <ion-icon src="../assets/icon/facebook.svg"></ion-icon>
            </div>
          <!-- </ion-col> -->
        </ion-row>
      </div>

      <!-- Signup link -->
      <div class="not-user ion-text-center">
        <ion-text >Not a Member </ion-text>
        <ion-text  routerLink="/sign-up" style="color:#0882de;">Register Now</ion-text>
      </div>
    </form>









  <!-- <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign In</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #userName required>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>
        
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>

        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
        </div>
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Don't have an account?<span class="redirect" routerLink="/sign-up"> Sign Up</span></span>
      </div>
    </div>
  </div> -->
</ion-content>
